@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
}