@import "../variables";
@import "../mixins";

body {
  &.nav-top {
    .logo {
      transform: translate3d(0, calc(-87.5vh + 111px), 0);
      transition-delay: 0s;
    }

    .info {
      .links {
        ul {
          @include md {
            transform: translate3d(0, calc(-90vh + 104px), 0);
            transition-delay: 0s;
          }
        }
      }
    }
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  position: fixed;
  top: 0;
  bottom: auto;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 5vw 30px 0;

  @include md {
    top: auto;
    bottom: 0;
    padding: 0;
  }

  .logo {
    cursor: pointer;
    display: block;
    position: relative;
    bottom: auto;
    left: 0;
    z-index: 1;
    font-style: normal;
    font-stretch: normal;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: .85em;
    font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all .2s ease-in-out .05s, transform .5s cubic-bezier(.86, 0, .07, 1) .5s;

    @include md {
      position: absolute;
      left: 60px;
      bottom: calc(7.5vh + 67px);
    }
  }

  .info {
    display: none;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 100vw;
    padding: 2.5vh 60px 5vh;
    transition: opacity .2s ease-in-out;

    @include md {
      display: flex;
    }

    .links,
    .social {
      opacity: 0;
      transform: translateY(-101%);
      animation: showUp 1s .4s forwards;
      animation-delay: 2.8s;

      ul {
        transition: transform .5s cubic-bezier(.86, 0, .07, 1) .5s;

        li {
          perspective: 250px;
          perspective-origin: 0;
          margin-bottom: 5px;

          &:last-of-type {
            margin-bottom: 0;
          }

          .link {
            display: inline-block;
            position: relative;
            transform: rotateY(0deg) translateZ(0);
            transform-origin: left center;
            transition: all .25s cubic-bezier(.175, .885, .32, 1.275);
            color: #f2f2f2;
            background-color: transparent;
            cursor: pointer;
            border: 0;
            padding: 0;
            outline: none;
            font-size: 13px;
          }

          a {
            display: inline-block;
            position: relative;
            transform: rotateY(0deg) translateZ(0);
            transform-origin: left center;
            transition: all .25s cubic-bezier(.175, .885, .32, 1.275);
            color: #f2f2f2;
            font-size: 13px;
            text-decoration: none;
          }

          &:after {
            content: "";
            pointer-events: none;
            position: absolute;
            top: 50%;
            left: calc(100% + 15px);
            width: 40px;
            height: 2px;
            border-radius: 1px;
            background-color: #000;
            transform-origin: left center;
            transform: scaleX(0) translateZ(0);
            transition: transform .25s cubic-bezier(.895, .03, .685, .22) 0s;
          }

          span {
            margin-right: 15px;
            font-size: 10px;
          }

          &:hover {
            .link, a {
              transform: rotateY(15deg) translateZ(0);
            }
          }
        }
      }
    }
    .credits {
      width: 50%;
      text-align: right;
      opacity: 0;
      transform: translateY(-101%);
      animation: showUp 1s .4s forwards;
      animation-delay: 3.2s;

      a {
        color: $blue-mode-header-color;
        text-decoration: none;
      }
    }
    .left {
      display: flex;
      align-items: flex-end;
      width: 70%;

      .contact {
        display: flex;
        transition: opacity .2s ease-in-out;

        ul {
          margin-right: 3vw;
          opacity: 0;
          transform: translateY(-101%);
          animation: showUp 1s .4s forwards;
          animation-delay: 2.4s;

          li {
            perspective: 400px;
            perspective-origin: 0;
            margin-bottom: 5px;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              color: $blue-mode-header-color;
              text-decoration: none;
            }
          }

          &:nth-child(2) {
            animation-delay: 2.6s;
          }
        }
      }
    }
    .right {
      display: flex;
      position: relative;
      width: 30%;
      max-width: 250px;
      -ms-flex-pack: justify;
      justify-content: space-between;
      align-items: flex-end;
      transition: opacity .2s ease-in-out;

      .social {
        display: flex;
        opacity: 0;
        transform: translateY(-101%);
        animation: showUp 1s .4s forwards;
        animation-delay: 3s;
        width: 50%;
      }
    }
  }
}